<Header>
  <h2>{{@breed.name}}</h2>
  <p>Could this be the breed for you?</p>
  <ShareButton
    @text="What do you think of {{@breed.name}}'s? I am thinking about a new puppy!"
    @hashtags="puppy,breed,dogs,cutedogs,purebred,newpuppylove"
    @via="emberjs"
  >    Share on Twitter
  </ShareButton>
</Header>

<article class="breed detailed">
  <Breed::Image
    src="../../{{@breed.image}}"
    alt="A picture of a {{@breed.name}}"
  />

  <div class="details">
    <h3>About {{@breed.name}}</h3>

    <div class="detail weight">
      <span>Weight:</span> {{@breed.weight}}
    </div>
    <div class="detail height">
      <span>Height:</span> {{@breed.height}}
    </div>
    <div class="detail life-span">
      <span>Life Span:</span> {{@breed.span}}
    </div>
    <div class="detail breed-group">
      <span>Breed Group:</span> {{@breed.group}}
    </div>
    <div class="detail country-of-origin">
      <span>Breed Origin:</span> {{@breed.origin}}
    </div>
  </div>
    <div class="detail description">
      {{@breed.description}}
    </div>

  <Map
    @lat={{@breed.location.lat}}
    @lng={{@breed.location.lng}}
    @zoom="12"
    @width="894"
    @height="600"
    alt="A map of {{@breed.name}}"
    class="large"
  />
</article>