<article class="breed">
  <Breed::Image
    src={{@breed.image}}
    alt="A picture of a {{@breed.name}}"
  />
  <div class="details">
    <h3>{{@breed.name}}</h3>
    <div class="detail weight">
      <span>Weight:</span> {{@breed.weight}}
    </div>
    <div class="detail height">
      <span>Height:</span> {{@breed.height}}
    </div>
    <div class="detail life-span">
      <span>Life Span:</span> {{@breed.span}}
    </div>
    <div class="detail breed-group">
      <span>Breed Group:</span> {{@breed.group}}
    </div>
    <div class="detail country-of-origin">
      <span>Breed Origin:</span> {{@breed.origin}}
    </div>
  </div>
  <Map
    @lat={{@breed.location.lat}}
    @lng={{@breed.location.lng}}
    @zoom="9"
    @width="150"
    @height="150"
    alt="A map of origin for {{@breed.name}}"
  />
</article>